<div>
  <ng-container *ngIf="!isEmpty">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let todoItem of todoItems">
        <app-todo-list-item
          [todoItem]="todoItem"
          (changeTodo)="onTodoItemChange($event)"
          (deleteTodo)="onTodoItemDelete($event)">
        </app-todo-list-item>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="isEmpty">
    <h4 class="text-center">There is no more things todo ;)</h4>
  </ng-container>
</div>